---
---

<section class="bg">
    <div class="bg__gradient"></div>
    <div class="nodes" id="node__2"></div>
</section>

<style>
    .bg {
        position: relative;

    }
    .bg__gradient {
        /* position: fixed; */
        width: 100%;
        height: 100%;
    }
    #node__2 {
        filter: blur(2px);
        position: fixed;
		top: 0;
		left: 0;
    }
</style>