---
---

<sectiion class="first-view">
    <!-- <h1 class="first-view__ttl">
        test-title
    </h1> -->
    <div class="nodes" id="node__1"></div>
</sectiion>

<style>
   #node__1 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
</style>